{% extends 'base.html' %}

{% block title %}Food Detail{% endblock %}

{% block content %}
    <h1>{{ selected_food.description }}</h1>
    <ul>
        {% for nutrient in nutrient_values %}
            {% if nutrient.name %}
                <li>{{ nutrient.name }}: {{ nutrient.amount }} {{ nutrient.unit }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    {% if serving_size and serving_size_unit %}
        <p>Serving Size: {{ serving_size }} {{ serving_size_unit }}</p>
    {% else %}
        <p>Serving size information not available.</p>
    {% endif %}

{% endblock %}
